$primary-color: #333;
$dark-color: #4834d4;
$light-color: #f4f4f4;
$bg-image: url("../img/header.jpg");
$logo: url("../img/logo.png");
$coco: url("../img/coco.png");
$medium-color: #999;
$website-width: 1280px;
$bg-dark: #222;